@import '../../styles/variables.module.scss';

.header {
    width: 100%;
    height: 500px;
    color: $color-white;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    .subMobile {
        display: none;
    }

    .textMobile {
        display: none;
    }


    .menuHamburger {
        display: none;
    }

    .comp {
        display: none;
    }

    .comp2 {
        width: 311px;
        height: 343.022px;
        position: absolute;
        top: -66px;
        right: -38px;
    }

    .menuIcon {
        display: none;
    }

    nav {
        width: 68%;
        max-width: 1302px;
        height: 2.1875rem;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 3.625rem;

        
        .navbarLeft {
            display: inline-flex;
            align-items: center;

            .arrowIcon {
                margin-left: 5px;
                
            }
        }
        
        a {
            
            display: flex;
            align-items: center;
            
            color: $color-white;
            font-size: 1rem;
            margin-left: 2.8rem;
            
            text-decoration: none;
        }
    
        a:hover {
            color: $color-button-hover;
        }

        button {
            display: inline-flex;
            padding: 12px 18px;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-size: 14px;
            font-weight: 500;
            border-radius: 7px;
            background: $color-button-right;
            color: $color-white;
            cursor: pointer;
        }

        .iconeMenu {
            margin-right: 5px;
        }
    }

    .selo {
        position: absolute;
        bottom: 35px;
        left: 47px;
    }

}

@media screen and (max-width: 1600px) {
    .header {
        nav {
            width: 74%;
        }
    }

    .selo {
        display: none;
    }

    .comp2 {
        display: none;
    }
}


@media screen and (max-width: 1430px) {
    .header {
        nav {
            width: 74%;
            a {
                margin-left: 1.25rem;
            }
    
            button {
                padding: 10px 14px;
            }
        }
    }

    .selo {
        display: none;
    }
}

@media screen and (max-width: 1218px) {
    .header {
        nav {
            width: 84%;
        }
    }
}

@media screen and (max-width: 960px) {
    .header {
       nav {
        width: 90%;
        
        .logo {
            display: none;
        }
       }
    }
}

@media screen and (max-width: 764px) {
    .header {
        height: 844px;
        align-items: flex-start;
        nav {
         width: 90%;
         margin: 50px auto 0px;
         .navbarLeft {
             display: none;
         }
 
         .budgetButton {
             display: none;
         }
     
         .menuHamburger {
             display: flex; 
             flex-direction: column;
             align-items: flex-end;
         }
 
         .menuIcon {
             display: flex;
             justify-content: space-between;
             width: 100%;

             .logo {
                display: block;
             }
         }
     
         .hideNav {
             display: none; // Esconde os links da barra de navegação quando o menu hamburguer estiver aberto
         }
        }


        .subMobile {
            display: block;
            width: 302px;
            height: 160px;
            margin-top: 112px;
            margin-left: 34px;
            p {
                font-size: 2rem;
                line-height: 2.5rem;
    
                span {
                    color: $color-button-hover;
                }
            }
        }
    
        .textMobile {
            display: block;
            width: 231px;
            height: 125px;
            margin-top: 10px;
            margin-left: 34px;
            border: 1px solid ridge;
            p {
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }

        .comp {
            display: block;
            margin-top: 190px;
            align-self: center;
        }
     }

   
}

